# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ======================
# Virtualenv
# ======================
.venv/
venv/
ENV/

# ======================
# PyInstaller
# ======================
build/
dist/
*.spec

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Logs / Temp
# ======================
*.log
*.tmp

# ======================
# App runtime data (локальные)
# ======================
data/
!data/.gitkeep

# ======================
# GitHub Actions cache
# ======================
*.zip
